*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

/* Navigation Bar Start */
.one{
    background-color:skyblue;
    padding: 20px;
    top: 0%;
    box-shadow:0 2px 5px 0 rgba(205, 221, 24, 0.16), 0 2px 10px 0 rgba(26, 244, 193, 0.12) ; 
    /* box-sizing: inherit; */
    position: fixed;
    width: 100%;
    z-index: 1;
    
}

.one a{
    padding: 15px;
    color:black;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    /* top: 0%; */
}
.one span{
    float: inline-end;
    /* top: 0%; */
}
.one a:hover{
    padding: 15px;
    background-color: darkgray;
    color: white;
}

/* Navigation Bar is End */

/* Start is About Section */

.image{
    background-image: url(./desktop-wallpaper-portfolio.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* justify-self: center; */
    /* justify-content: center; */
    padding-top: 400px;
    color: rgb(200, 200, 21);
    
    
}

.image1{

    background-image: url(./brainwaves-website-pages-_06-01-2021-_-02.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    width: 100%;
    /* opacity: 0.7; */
    /* color: white; */
    /* text-align: center; */
    padding-top: 50px;
    justify-content: center;
    justify-items: center;

}
.image1 h1{
    color: white;
    text-align: center;

}

.about{
    background-color: lightskyblue;
    margin:0 200px;
    padding: 50px 100px;
    

    
}

.about img{
    float: right;
    height: 250px;
    border-radius: 100%;
    margin:0px 40px;
}

.para{
    padding-right: 400px;
    font-weight: bold;
}

.about button{
    padding: 10px 20px;
    border: none;
    background-color: aqua;
}

.about button:hover{
    padding: 10px 20px;
    border: none;
    background-color: rgb(61, 114, 220);
}

/* End About us  */


/* Start is Skills section */

.skill{
    margin-top: 50px;
    background-image: url(./my-skill-bg.jpg);
    text-align: center;
    color: white; 
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    padding: 100px;
}
.skill h1{
    font-weight: bold;
}

/* Skill Section is end */

.contact{
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.contact input{
    margin-top: 20px;
    padding: 15px ;
    padding-right:  100px;
    border: 1px solid skyblue;
}

.contact span input{
    padding-bottom: 200px;
    padding-right: 400px;
}

.contact button{
    padding: 20px 250px;
    margin-top: 20px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: none;

}

.contact button:hover{
    padding:20px 250px;
    background-color: rgb(44, 46, 46);
}

/* Contact is End */

.copy{
    margin-top: 50px;
    padding: 20px;
    color: white;
    background: lightseagreen;
}




